* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  height: 100vh;
  background: #f9c5d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  position: relative;
}

.icon {
  width: 80px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
  position: absolute;
  right: 0;
}

.hint {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
